<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandingPage</title>
    <script src="https://kit.fontawesome.com/72215895a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/hegemon.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container" style="background-image: url('/static/hegemon_image.jpeg'); background-repeat: no-repeat; background-size: 50%;">
    <div class="header">hi, i'm hegemon</div>
    <div class="subheader">your personal assistant for<br>defence | economy | international relations | geopolitics | history</div>
    <footer>
        <button class="round-button" onclick="openModal()">Get Started</button>
    </footer>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form id="loginForm" onsubmit="redirectToIndex(event)"><br>
            <label for="username"><b>Username:</b></label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password"><b>Password:</b></label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit"><b>Login<b></button>
        </form>
        <div class="counter">
            <div class="website-counter-text" style="color: white; text-align:center; background-color: #430f58; padding: 5.2px;">You were the visitor number # </div>
            <div class="website-counter" style="background-color: #430f58;">"</div>
        </div>
        <p>*This is a Pilot Project.<br>*Please use any random ID and password to log in to the website.</p>
    </div>

    
</div>

    <script>
        function openModal() {
            document.getElementById('myModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('myModal').style.display = 'none';
        }

        function signup() {
            document.getElementById('loginForm').action = '/signup';
            document.getElementById('loginForm').submit();
        }

        function redirectToIndex(event) {
            event.preventDefault();
            window.location.href = '/chat_page';
        }

        window.onclick = function(event) {
            const modal = document.getElementById('myModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }

        var counterContainer = document.querySelector(".website-counter");
        var resetButton = document.querySelector("#reset");
        var visitCount = localStorage.getItem("page_view");

        // Check if page_view entry is present
        if (visitCount) {
        visitCount = Number(visitCount) + 1;
        localStorage.setItem("page_view", visitCount);
        } else {
        visitCount = 1;
        localStorage.setItem("page_view", 1);
        }
        counterContainer.innerHTML = visitCount;
    </script>
</body>

<style>
    body {
        height: 100vh;
    }
    .website-counter {
        background-color: #00012e;
        color: white;
        font-weight: 700;
        font-size: 25px;
        padding: 0 5px;
        border-radius: 0px 8px 8px 0px;
    }
    .website-counter-text {
        border-radius:  8px 0px 0px 8px;
    }
    .counter{
        margin-top:10px;
        display:flex;
        align-items:center;
        justify-content: center;
    }
</style>
</html>