<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandingPage</title>
    <script src="https://kit.fontawesome.com/72215895a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/hegemon.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container" style="background-image: url('/static/hegemon_image.jpeg'); background-repeat: no-repeat; background-size: 50%;">
    <div class="header">hi, i'm hegemon</div>
    <div class="subheader">your personal assistant for<br>defence | economy | international relations | geopolitics | history</div>
    <footer>
        <button class="round-button" onclick="openModal()">Get Started</button>
    </footer>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form id="loginForm" onsubmit="redirectToIndex(event)"><br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit"><b>Login<b></button>
        </form>
        <p>*This is a pilot project.<br>*Please use any random ID and password to log in to the website.</p>
    </div>
    
</div>

<script>
    function openModal() {
        document.getElementById('myModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
    }

    function signup() {
        document.getElementById('loginForm').action = '/signup';
        document.getElementById('loginForm').submit();
    }

    function redirectToIndex(event) {
        event.preventDefault();
        window.location.href = '/chat_page';
    }

    window.onclick = function(event) {
        const modal = document.getElementById('myModal');
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    }
</script>
</body>
</html>
